body, main {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#holder {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#canvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: crosshair;
}

#color {
  position: fixed;
  width: 5%;
  bottom: 20px;
  right: 20px;
}

@media screen and (max-width: 700px) {
  #color {
    width: 20%;
  }
}
