<!DOCTYPE html> {% load static compress %}
<html>

<head>
  <meta charset="utf-8">

  <link rel="shortcut icon" type="image/png" href="{% static 'canvas/images/favicon.png' %}">

  <title>Masterpiece</title>

  {% compress css %}
    {% block styles %}{% endblock %}
  {% endcompress %}

  {% if google_analytics %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ google_analytics }}');
    </script>
  {% endif %}

  <!-- Developed by kjpc-tech (https://kjpc.tech/developerlink/) -->
</head>

<body>
  <main>
    {% block content %}{% endblock %}
  </main>

  {% compress js %}
    {% block scripts %}{% endblock %}
  {% endcompress %}
</body>

</html>
