{% extends "canvas/base.html" %}

{% load static %}

{% block styles %}
  <link href="{% static 'canvas/css/canvas.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

  <div id="holder" ref="holder">
    <canvas id="canvas" ref="canvas" width="{{ canvas.width }}" height="{{ canvas.height }}" v-on:click="color_pixel"></canvas>

    <div>
      <input ref="pixels_history" type="hidden" v-model="pixels_history" data-default="{% url 'canvas:pixels' %}">
      <input ref="canvas_id" type="hidden" v-model="canvas_id" data-default="{{ canvas.pk }}">
      <input ref="scheme" type="hidden" v-model="scheme" data-default="{{ request.scheme }}">
      <input id="color" ref="color" type="color" v-model="color" data-default="#000000">
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script src="{% static 'canvas/js/vue.min.js' %}"></script>
  <script src="{% static 'canvas/js/vue-resource.min.js' %}"></script>
  <script src="{% static 'canvas/js/canvas.js' %}"></script>
{% endblock %}
